body {
  background-color: rgb(18, 1, 78);
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login form {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 8px;
    min-width: 360px;
  }

  .teste {
    color: white;
  }